/session.madeline.safe.php.lock
/示範用資料.txt
/同事資料.txt
/Array.array.txt
/chat_log.json
/chat_log.txt
/groupinfo.txt
/list_of_channels
/madeline-20cca0b5bd3e9a56883d42a3655809d706c827f4-74.phar
/madeline-20cca0b5bd3e9a56883d42a3655809d706c827f4-74.phar.lock
/madeline-74.phar.version
/MadelineProto.log
/session.madeline.callback.ipc
/session.madeline.ipc
/session.madeline.ipcState.php
/session.madeline.ipcState.php.lock
/session.madeline.lightState.php
/session.madeline.lightState.php.lock
/session.madeline.lock
/test.mp3